body {
    font-family: Arial, sans-serif;
    background-color: #faffaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #96c9f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h2{
    color: #000000;
}
input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #3fa2f6;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #6664eb;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    
}

button:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #3fa2f6;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li .delete {
    background: #6664eb;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li .delete:hover {
    background: #c82333;
}
